@model IEnumerable<WebApplication3.Models.Contato>

@{
    ViewData["Title"] = "Index";
}
<!-- VERSÃO FINAL DO ARQUIVO -->
<!-- jumbotron Cabeçalho-->
  <div class="jumbotron jumbotron-with-background8 text-light bg-secondary">

      <!-- Início Menu -->
     <header class="controle">
        <nav class="navbar-expand-xl navbar-dark fixed-top mynav">
          <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
          </div>

          <div class="logo">
                    <img src="imgs/AcessiCARlogo2transp.png" width="150px" height="50px">
            AcessiCAR
          </div>

          <div class="menu">
            <ul> <li>Acessibilidade: &nbsp;&nbsp;  
                 <a href="#" onclick="diminuir()">  A- |</a> 
                 <a href="#" onclick="aumentar()">  A+ |</a>
                <ion-icon name="contrast-outline" onclick="pretoebranco()" class="iconcursor"></ion-icon></li>
              


                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                <li><a asp-area="" asp-controller="Passageiroes" asp-action="Create">Passageiro</a></li>
                <li><a asp-area="" asp-controller="Motorista" asp-action="Index">Motorista</a></li>
                <li><a asp-area="" asp-controller="Contatoes" asp-action="Create">Contato</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
               

            </ul>
          </div>
        </nav>
</header>
<!-- Fim Menu -->

<br><br>
    <h1 class="display-4">Consulta Contato</h1>
    <p class="lead">Transforme a mobilidade do seu dia</p>
  </div>

  <!-- Fim jumbotron Cabeçalho -->

 <p>
    <center><a asp-action="Create" class="btn btn-success w-30 my-1">Envie sua mensagem</a></center>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menssagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menssagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
